fastapi
uvicorn
transformers
PyPDF2
pydantic
torch
python-multipart
langchain
sentence-transformers
qdrant-client
openai
python-dotenv
scikit-learn
numpy
pandas
langchain-community
chromadb
python-multipart
